[submodule "node_modules/.cache/gh-pages/git@github.com!eriksalsborn!Multi-Stream-Dashboard.git"]
    path = node_modules/.cache/gh-pages/git@github.com!eriksalsborn!Multi-Stream-Dashboard.git
    url = https://github.com/eriksalsborn/Multi-Stream-Dashboard.git